In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
obj = pd.Series(np.random.randn(4),index = ['a','b','c','d'])

In [4]:
obj

a   -1.201720
b    0.290255
c    0.157947
d   -2.324345
dtype: float64

In [5]:
obj.reindex(['d','c','b','a'])

d   -2.324345
c    0.157947
b    0.290255
a   -1.201720
dtype: float64

In [6]:
list = ['a','b']

In [7]:
obj[list]

a   -1.201720
b    0.290255
dtype: float64

In [8]:
obj2 = obj.reindex(['a','b','c','d','e'])

In [9]:
obj2

a   -1.201720
b    0.290255
c    0.157947
d   -2.324345
e         NaN
dtype: float64

In [10]:
obj3 = pd.Series(['blue','purple','yellow'],index = [0,2,4])

In [11]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [12]:
obj3.reindex(range(8),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
6    yellow
7    yellow
dtype: object

In [13]:
frame = pd.DataFrame(np.random.randn(16).reshape((4,4)),
                     index =  np.arange(2,6,1),columns = np.arange(6,2,-1))

In [14]:
frame

          6         5         4         3
2  0.465370 -1.132478 -0.655678 -1.047455
3  1.167414 -0.515880  0.712538  0.180865
4  0.897076 -0.265729 -2.313387 -1.000211
5 -1.489760  1.851107 -0.034244  0.938241

In [15]:
frame2 = frame.reindex(index = np.arange(4),columns = np.arange(4))

In [16]:
frame2

    0   1   2         3
0 NaN NaN NaN       NaN
1 NaN NaN NaN       NaN
2 NaN NaN NaN -1.047455
3 NaN NaN NaN  0.180865

In [18]:
frame2[frame2.isnull()] = np.random.randn()

In [31]:
(np.asarray(frame2<0))[:,3]

array([ True,  True,  True, False])

In [32]:
np.asarray(frame2<0)[3,:]

array([ True,  True,  True, False])

In [35]:
data  = pd.DataFrame(np.random.randn(9).reshape((3,3)),index = ['a','b','c'],columns = np.arange(1,4,1))

In [36]:
data

          1         2         3
a  0.649710  0.776954 -1.681043
b  0.210799 -0.897698  0.395237
c  2.083380 -1.736331 -0.264332

In [51]:
data2 = data.reindex(columns = np.arange(1,5,1))

In [52]:
data2[data2.isnull()]=1

In [53]:
data2

          1         2         3    4
a  0.649710  0.776954 -1.681043  1.0
b  0.210799 -0.897698  0.395237  1.0
c  2.083380 -1.736331 -0.264332  1.0

In [77]:
data3 = pd.Series(np.arange(10.),index = np.arange(0,1,0.1))

In [78]:
data3

0.0    0.0
0.1    1.0
0.2    2.0
0.3    3.0
0.4    4.0
0.5    5.0
0.6    6.0
0.7    7.0
0.8    8.0
0.9    9.0
dtype: float64

In [79]:
data3.reindex(np.arange(0,1,0.05))

0.00    0.0
0.05    NaN
0.10    1.0
0.15    NaN
0.20    2.0
0.25    NaN
0.30    3.0
0.35    NaN
0.40    4.0
0.45    NaN
0.50    5.0
0.55    NaN
0.60    6.0
0.65    NaN
0.70    7.0
0.75    NaN
0.80    8.0
0.85    NaN
0.90    9.0
0.95    NaN
dtype: float64

In [80]:
data3.reindex(np.arange(0,1,0.05),method = 'ffill')

0.00    0.0
0.05    0.0
0.10    1.0
0.15    1.0
0.20    2.0
0.25    2.0
0.30    3.0
0.35    3.0
0.40    4.0
0.45    4.0
0.50    5.0
0.55    5.0
0.60    6.0
0.65    6.0
0.70    7.0
0.75    7.0
0.80    8.0
0.85    8.0
0.90    9.0
0.95    9.0
dtype: float64

In [81]:
data4 = data3.reindex(np.arange(0,1,0.05),method = 'bfill')

In [82]:
print(data4)
data4[data4.isnull()] = np.random.randn()

0.00    0.0
0.05    1.0
0.10    1.0
0.15    2.0
0.20    2.0
0.25    3.0
0.30    3.0
0.35    4.0
0.40    4.0
0.45    5.0
0.50    5.0
0.55    6.0
0.60    6.0
0.65    7.0
0.70    7.0
0.75    8.0
0.80    8.0
0.85    9.0
0.90    9.0
0.95    NaN
dtype: float64

In [75]:
data4

0.00    0.000000
0.05    1.000000
0.10    1.000000
0.15    2.000000
0.20    2.000000
0.25    3.000000
0.30    3.000000
0.35    4.000000
0.40    4.000000
0.45    5.000000
0.50    5.000000
0.55    6.000000
0.60    6.000000
0.65    7.000000
0.70    7.000000
0.75    8.000000
0.80    8.000000
0.85    9.000000
0.90    9.000000
0.95    0.264215
dtype: float64