Importing libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Importing the dataset

In [6]:
dataset = pd.read_csv("Data.csv")
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [64]:
X = dataset.iloc[:,:-1].values
Y = dataset.iloc[:,-1].values

In [65]:
print(X)
print()
print(Y)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

Taking care of missing data

In [66]:
from sklearn.preprocessing import Imputer

In [56]:
imputer = Imputer(missing_values="NaN",strategy = 'mean',axis = 0)

In [70]:
#another possible strategies are mode and 
#median(stated as most_frequent)

In [57]:
imputer = imputer.fit(X[:,1:3])

note that just using fit here first and later transform as no all collumns of X require imputation

if in case all had an NaN value, would have used the fit_transform method of the imputer

in this case, the first collumn is of strings hence imputation is not valid upon that and hence we get a type conversion error if we directly use the fit_transform method

In [69]:
X[:,1:3] = imputer.transform(X[:,1:3])
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [71]:
#note that 38.77 and 63777.77 are
#the means in the respective collumns