In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
dataset = pd.read_csv("50_Startups.csv")

In [45]:
pd.DataFrame(dataset)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [46]:
X = dataset.iloc[:,:-1].values

In [47]:
Y = dataset.iloc[:,-1].values
Y = Y.reshape(Y.size,1)

In [48]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [49]:
LEncdr_X = LabelEncoder()

In [50]:
X[:,-1] = LEncdr_X.fit_transform(X[:,-1])

In [51]:
OneHtEncdr = OneHotEncoder(categorical_features = [3])

In [52]:
X = OneHtEncdr.fit_transform(X).toarray()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [53]:
pd.DataFrame(X)

      0    1    2          3          4          5
0   0.0  0.0  1.0  165349.20  136897.80  471784.10
1   1.0  0.0  0.0  162597.70  151377.59  443898.53
2   0.0  1.0  0.0  153441.51  101145.55  407934.54
3   0.0  0.0  1.0  144372.41  118671.85  383199.62
4   0.0  1.0  0.0  142107.34   91391.77  366168.42
5   0.0  0.0  1.0  131876.90   99814.71  362861.36
6   1.0  0.0  0.0  134615.46  147198.87  127716.82
7   0.0  1.0  0.0  130298.13  145530.06  323876.68
8   0.0  0.0  1.0  120542.52  148718.95  311613.29
9   1.0  0.0  0.0  123334.88  108679.17  304981.62
10  0.0  1.0  0.0  101913.08  110594.11  229160.95
11  1.0  0.0  0.0  100671.96   91790.61  249744.55
12  0.0  1.0  0.0   93863.75  127320.38  249839.44
13  1.0  0.0  0.0   91992.39  135495.07  252664.93
14  0.0  1.0  0.0  119943.24  156547.42  256512.92
15  0.0  0.0  1.0  114523.61  122616.84  261776.23
16  1.0  0.0  0.0   78013.11  121597.55  264346.06
17  0.0  0.0  1.0   94657.16  145077.58  282574.31
18  0.0  1.0  0.0   91749.16  114175.79  294919.57
19  0.0  0.0  1.0   86419.70  153514.11       0.00
20  1.0  0.0  0.0   76253.86  113867.30  298664.47
21  0.0  0.0  1.0   78389.47  153773.43  299737.29
22  0.0  1.0  0.0   73994.56  122782.75  303319.26
23  0.0  1.0  0.0   67532.53  105751.03  304768.73
24  0.0  0.0  1.0   77044.01   99281.34  140574.81
25  1.0  0.0  0.0   64664.71  139553.16  137962.62
26  0.0  1.0  0.0   75328.87  144135.98  134050.07
27  0.0  0.0  1.0   72107.60  127864.55  353183.81
28  0.0  1.0  0.0   66051.52  182645.56  118148.20
29  0.0  0.0  1.0   65605.48  153032.06  107138.38
30  0.0  1.0  0.0   61994.48  115641.28   91131.24
31  0.0  0.0  1.0   61136.38  152701.92   88218.23
32  1.0  0.0  0.0   63408.86  129219.61   46085.25
33  0.0  1.0  0.0   55493.95  103057.49  214634.81
34  1.0  0.0  0.0   46426.07  157693.92  210797.67
35  0.0  0.0  1.0   46014.02   85047.44  205517.64
36  0.0  1.0  0.0   28663.76  127056.21  201126.82
37  1.0  0.0  0.0   44069.95   51283.14  197029.42
38  0.0  0.0  1.0   20229.59   65947.93  185265.10
39  1.0  0.0  0.0   38558.51   82982.09  174999.30
40  1.0  0.0  0.0   28754.33  118546.05  172795.67
41  0.0  1.0  0.0   27892.92   84710.77  164470.71
42  1.0  0.0  0.0   23640.93   96189.63  148001.11
43  0.0  0.0  1.0   15505.73  127382.30   35534.17
44  1.0  0.0  0.0   22177.74  154806.14   28334.72
45  0.0  0.0  1.0    1000.23  124153.04    1903.93
46  0.0  1.0  0.0    1315.46  115816.21  297114.46
47  1.0  0.0  0.0       0.00  135426.92       0.00
48  0.0  0.0  1.0     542.05   51743.15       0.00
49  1.0  0.0  0.0       0.00  116983.80   45173.06

note that we do not need to include all the 3 categorically derived cols as any n-1 of them are defined, so is the last one and hence we exclude one of them

In [54]:
X = X[:,1:]

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
X_train,X_test,Y_train,Y_test  = train_test_split(X,Y,test_size = 0.2,random_state=0)

In [58]:
pd.DataFrame(np.concatenate((X_train,Y_train),axis=1))

      0    1          2          3          4          5
0   1.0  0.0   55493.95  103057.49  214634.81   96778.92
1   0.0  1.0   46014.02   85047.44  205517.64   96479.51
2   1.0  0.0   75328.87  144135.98  134050.07  105733.54
3   0.0  0.0   46426.07  157693.92  210797.67   96712.80
4   1.0  0.0   91749.16  114175.79  294919.57  124266.90
5   1.0  0.0  130298.13  145530.06  323876.68  155752.60
6   1.0  0.0  119943.24  156547.42  256512.92  132602.65
7   0.0  1.0    1000.23  124153.04    1903.93   64926.08
8   0.0  1.0     542.05   51743.15       0.00   35673.41
9   0.0  1.0   65605.48  153032.06  107138.38  101004.64
10  0.0  1.0  114523.61  122616.84  261776.23  129917.04
11  1.0  0.0   61994.48  115641.28   91131.24   99937.59
12  0.0  0.0   63408.86  129219.61   46085.25   97427.84
13  0.0  0.0   78013.11  121597.55  264346.06  126992.93
14  0.0  0.0   23640.93   96189.63  148001.11   71498.49
15  0.0  0.0   76253.86  113867.30  298664.47  118474.03
16  0.0  1.0   15505.73  127382.30   35534.17   69758.98
17  0.0  1.0  120542.52  148718.95  311613.29  152211.77
18  0.0  0.0   91992.39  135495.07  252664.93  134307.35
19  0.0  0.0   64664.71  139553.16  137962.62  107404.34
20  0.0  1.0  131876.90   99814.71  362861.36  156991.12
21  0.0  1.0   94657.16  145077.58  282574.31  125370.37
22  0.0  0.0   28754.33  118546.05  172795.67   78239.91
23  0.0  0.0       0.00  116983.80   45173.06   14681.40
24  0.0  0.0  162597.70  151377.59  443898.53  191792.06
25  1.0  0.0   93863.75  127320.38  249839.44  141585.52
26  0.0  0.0   44069.95   51283.14  197029.42   89949.14
27  0.0  1.0   77044.01   99281.34  140574.81  108552.04
28  0.0  0.0  134615.46  147198.87  127716.82  156122.51
29  1.0  0.0   67532.53  105751.03  304768.73  108733.99
30  1.0  0.0   28663.76  127056.21  201126.82   90708.19
31  0.0  1.0   78389.47  153773.43  299737.29  111313.02
32  0.0  1.0   86419.70  153514.11       0.00  122776.86
33  0.0  0.0  123334.88  108679.17  304981.62  149759.96
34  0.0  0.0   38558.51   82982.09  174999.30   81005.76
35  1.0  0.0    1315.46  115816.21  297114.46   49490.75
36  0.0  1.0  144372.41  118671.85  383199.62  182901.99
37  0.0  1.0  165349.20  136897.80  471784.10  192261.83
38  0.0  0.0       0.00  135426.92       0.00   42559.73
39  0.0  0.0   22177.74  154806.14   28334.72   65200.33

In [59]:
from sklearn.linear_model import LinearRegression

In [60]:
MlinReg = LinearRegression()

In [61]:
MlinReg.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [62]:
Y_pred = MlinReg.predict(X_test)

In [63]:
pd.DataFrame(np.concatenate((Y_pred,Y_test,abs(Y_pred-Y_test)),axis=1))

               0          1             2
0  103015.201598  103282.38    267.178402
1  132582.277608  144259.40  11677.122392
2  132447.738452  146121.95  13674.211548
3   71976.098513   77798.83   5822.731487
4  178537.482211  191050.39  12512.907789
5  116161.242302  105008.31  11152.932302
6   67851.692097   81229.06  13377.367903
7   98791.733747   97483.56   1308.173747
8  113969.435330  110352.25   3617.185330
9  167921.065696  166187.94   1733.125696

col0 is Ypred, col1 is Ytest and col2 is the loss function

### Optimising the model

optimising the model using backward elimination

In [64]:
import statsmodels.formula.api as sm

adding a collumn of ones here because the statsmodels library doesnt include the constant term in the regression 
did not need to do this for sklearn methods because they add a constant by themselves

In [65]:
X = np.concatenate((np.ones((X[:,0].size,1)),X),axis=1)

In [66]:
 pd.DataFrame(X)

      0    1    2          3          4          5
0   1.0  0.0  1.0  165349.20  136897.80  471784.10
1   1.0  0.0  0.0  162597.70  151377.59  443898.53
2   1.0  1.0  0.0  153441.51  101145.55  407934.54
3   1.0  0.0  1.0  144372.41  118671.85  383199.62
4   1.0  1.0  0.0  142107.34   91391.77  366168.42
5   1.0  0.0  1.0  131876.90   99814.71  362861.36
6   1.0  0.0  0.0  134615.46  147198.87  127716.82
7   1.0  1.0  0.0  130298.13  145530.06  323876.68
8   1.0  0.0  1.0  120542.52  148718.95  311613.29
9   1.0  0.0  0.0  123334.88  108679.17  304981.62
10  1.0  1.0  0.0  101913.08  110594.11  229160.95
11  1.0  0.0  0.0  100671.96   91790.61  249744.55
12  1.0  1.0  0.0   93863.75  127320.38  249839.44
13  1.0  0.0  0.0   91992.39  135495.07  252664.93
14  1.0  1.0  0.0  119943.24  156547.42  256512.92
15  1.0  0.0  1.0  114523.61  122616.84  261776.23
16  1.0  0.0  0.0   78013.11  121597.55  264346.06
17  1.0  0.0  1.0   94657.16  145077.58  282574.31
18  1.0  1.0  0.0   91749.16  114175.79  294919.57
19  1.0  0.0  1.0   86419.70  153514.11       0.00
20  1.0  0.0  0.0   76253.86  113867.30  298664.47
21  1.0  0.0  1.0   78389.47  153773.43  299737.29
22  1.0  1.0  0.0   73994.56  122782.75  303319.26
23  1.0  1.0  0.0   67532.53  105751.03  304768.73
24  1.0  0.0  1.0   77044.01   99281.34  140574.81
25  1.0  0.0  0.0   64664.71  139553.16  137962.62
26  1.0  1.0  0.0   75328.87  144135.98  134050.07
27  1.0  0.0  1.0   72107.60  127864.55  353183.81
28  1.0  1.0  0.0   66051.52  182645.56  118148.20
29  1.0  0.0  1.0   65605.48  153032.06  107138.38
30  1.0  1.0  0.0   61994.48  115641.28   91131.24
31  1.0  0.0  1.0   61136.38  152701.92   88218.23
32  1.0  0.0  0.0   63408.86  129219.61   46085.25
33  1.0  1.0  0.0   55493.95  103057.49  214634.81
34  1.0  0.0  0.0   46426.07  157693.92  210797.67
35  1.0  0.0  1.0   46014.02   85047.44  205517.64
36  1.0  1.0  0.0   28663.76  127056.21  201126.82
37  1.0  0.0  0.0   44069.95   51283.14  197029.42
38  1.0  0.0  1.0   20229.59   65947.93  185265.10
39  1.0  0.0  0.0   38558.51   82982.09  174999.30
40  1.0  0.0  0.0   28754.33  118546.05  172795.67
41  1.0  1.0  0.0   27892.92   84710.77  164470.71
42  1.0  0.0  0.0   23640.93   96189.63  148001.11
43  1.0  0.0  1.0   15505.73  127382.30   35534.17
44  1.0  0.0  0.0   22177.74  154806.14   28334.72
45  1.0  0.0  1.0    1000.23  124153.04    1903.93
46  1.0  1.0  0.0    1315.46  115816.21  297114.46
47  1.0  0.0  0.0       0.00  135426.92       0.00
48  1.0  0.0  1.0     542.05   51743.15       0.00
49  1.0  0.0  0.0       0.00  116983.80   45173.06

note the first collumn appended which is for the constant term in the regression (reasons stated above)

commencing with backward elimination now

creating the optimal matrix of features

In [ ]:
X_opt = X[:,[0,1,2,3,4,5]]

choosing significance level(SL) as 0.05

In [ ]:
REG_OLS = sm.OLS(Y,X_opt).fit()

OLS stands for ordinary least squares

In [ ]:
REG_OLS.summary()

highest p-value is exhibited by x2, hence removing that

In [ ]:
X_opt = X[:,[0,1,3,4,5]]

In [ ]:
REG_OLS = sm.OLS(Y,X_opt).fit()

In [ ]:
REG_OLS.summary()

x1 has the highest p value and its above SL

In [ ]:
X_opt = X[:,[0,3,4,5]]

In [ ]:
REG_OLS = sm.OLS(Y,X_opt).fit()

In [ ]:
REG_OLS.summary()

removing new x2

In [ ]:
X_opt = X[:,[0,3,5]]

In [ ]:
REG_OLS = sm.OLS(Y,X_opt).fit()

In [ ]:
REG_OLS.summary()

note that the p-value of the new x1 is not zero- its just so small that it doesnt show up in the no of preset signigicant digits

note again that including x2 in the last step is questionable and will be discussed further ahead. Just implementing backward elimination now , will mention about improvements later

In [ ]:
X_opt = X[:,[0,3]]

In [ ]:
REG_OLS = sm.OLS(Y,X_opt).fit()

In [ ]:
REG_OLS.summary()

note:- similar reasons as to why these are close to zero as mentioned not so long above from here

### Automated implementation of backward elimination

In [67]:
import statsmodels.formula.api as sm
def backElim(X,Y,SL):
    NumOVars = len(X[0])
    for i in range(0,NumOVars):
        Reg_OLS = sm.OLS(Y,X).fit()
        maxval  = max(Reg_OLS.pvalues).astype(float)
        if(maxval<=SL): break
        if(maxval>SL):
            for j in range(0,NumOVars - i):
                if(Reg_OLS.pvalues[j]==maxval):
                    X = np.delete(X,j,1)
    return X

NOTE:- the reason why setting the col with max pvalue doesnt interfere with the algorithm is because a constant feature has zero p-value and hence would not contribute to the maxvar

In [68]:
SL = 0.05
X_opt = backElim(X,Y,SL)

a better way to visualize these changes would be to set the corresponding features to 0 instead of deleting them upon elimination

In [69]:
pd.DataFrame(X_opt)

      0          1
0   1.0  165349.20
1   1.0  162597.70
2   1.0  153441.51
3   1.0  144372.41
4   1.0  142107.34
5   1.0  131876.90
6   1.0  134615.46
7   1.0  130298.13
8   1.0  120542.52
9   1.0  123334.88
10  1.0  101913.08
11  1.0  100671.96
12  1.0   93863.75
13  1.0   91992.39
14  1.0  119943.24
15  1.0  114523.61
16  1.0   78013.11
17  1.0   94657.16
18  1.0   91749.16
19  1.0   86419.70
20  1.0   76253.86
21  1.0   78389.47
22  1.0   73994.56
23  1.0   67532.53
24  1.0   77044.01
25  1.0   64664.71
26  1.0   75328.87
27  1.0   72107.60
28  1.0   66051.52
29  1.0   65605.48
30  1.0   61994.48
31  1.0   61136.38
32  1.0   63408.86
33  1.0   55493.95
34  1.0   46426.07
35  1.0   46014.02
36  1.0   28663.76
37  1.0   44069.95
38  1.0   20229.59
39  1.0   38558.51
40  1.0   28754.33
41  1.0   27892.92
42  1.0   23640.93
43  1.0   15505.73
44  1.0   22177.74
45  1.0    1000.23
46  1.0    1315.46
47  1.0       0.00
48  1.0     542.05
49  1.0       0.00

### Final comments

as in the case of the last variable eliminated(with pvalue 0.06), to make a better decision, we use another method of adjusting R-squares.

Read more from different sources

the corresponding code is mentioned below for latter reference

In [ ]:
import statsmodels.formula.api as sm
def backwardElimination(x, SL):
    numVars = len(x[0])
    temp = np.zeros((50,6)).astype(int)
    for i in range(0, numVars):
        regressor_OLS = sm.OLS(y, x).fit()
        maxVar = max(regressor_OLS.pvalues).astype(float)
        adjR_before = regressor_OLS.rsquared_adj.astype(float)
        if maxVar > SL:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
                    temp[:,j] = x[:, j]
                    x = np.delete(x, j, 1)
                    tmp_regressor = sm.OLS(y, x).fit()
                    adjR_after = tmp_regressor.rsquared_adj.astype(float)
                    if (adjR_before >= adjR_after):
                        x_rollback = np.hstack((x, temp[:,[0,j]]))
                        x_rollback = np.delete(x_rollback, j, 1)
                        print (regressor_OLS.summary())
                        return x_rollback
                    else:
                        continue
    regressor_OLS.summary()
    return x

SL = 0.05
X_opt = X[:, [0, 1, 2, 3, 4, 5]]
X_Modeled = backwardElimination(X_opt, SL)

Rebuilding the optimised model using X_opt(will be simple linear regression model now)

In [71]:
Lin_reg_opt = LinearRegression()

In [72]:
np.delete(X_opt,0,1)

array([[165349.2 ],
       [162597.7 ],
       [153441.51],
       [144372.41],
       [142107.34],
       [131876.9 ],
       [134615.46],
       [130298.13],
       [120542.52],
       [123334.88],
       [101913.08],
       [100671.96],
       [ 93863.75],
       [ 91992.39],
       [119943.24],
       [114523.61],
       [ 78013.11],
       [ 94657.16],
       [ 91749.16],
       [ 86419.7 ],
       [ 76253.86],
       [ 78389.47],
       [ 73994.56],
       [ 67532.53],
       [ 77044.01],
       [ 64664.71],
       [ 75328.87],
       [ 72107.6 ],
       [ 66051.52],
       [ 65605.48],
       [ 61994.48],
       [ 61136.38],
       [ 63408.86],
       [ 55493.95],
       [ 46426.07],
       [ 46014.02],
       [ 28663.76],
       [ 44069.95],
       [ 20229.59],
       [ 38558.51],
       [ 28754.33],
       [ 27892.92],
       [ 23640.93],
       [ 15505.73],
       [ 22177.74],
       [  1000.23],
       [  1315.46],
       [     0.  ],
       [   542.05],
       [     0.  ]])

removed the constant col because the linear Regressor accounts for that on its own and it was only needed when using the statsmodels.formula.api

In [73]:
X_train_opt,X_test_opt,Y_train,Y_test = train_test_split(X_opt,Y,test_size=0.2,random_state=0)

In [79]:
Lin_reg_opt.fit(X_train_opt,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [80]:
Y_pred_opt = Lin_reg_opt.predict(X_test_opt)

In [81]:
loss = abs(Y_pred-Y_test)
loss_opt = abs(Y_pred_opt-Y_test)

In [82]:
pd.DataFrame(np.concatenate((loss,loss_opt),axis=1))

              0             1
0    267.178402   1384.898060
1  11677.122392  10108.565894
2  13674.211548  10914.149805
3   5822.731487   5628.285711
4  12512.907789  11959.803975
5  11152.932302   4816.463866
6  13377.367903  15584.782262
7   1308.173747   2997.872771
8   3617.185330   1079.502024
9   1733.125696   3250.208435

### mean loss(before and after)

In [83]:
np.mean(Y_pred)

118325.39675519239

In [84]:
np.mean(Y_pred_opt)

118210.7427509102

see that the model has improved slightly(mean is not the best way to analyse this)